<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- +0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../../public/js/script.js" defer></script>
    <title>Document</title>
</head>
<body style="background-color: #eeeaea;">
    <header style="position: fixed;">
        <a href="./index.html" style="text-decoration: none;" class="text-dark"><h5 class="my-0 mr-md-auto font-weight-normal" style="font-weight: 900;"><span class="controle">CONTROLE</span>
            <span style="font-weight: 600;">de Estudantes</span>
        </h5></a>
        <nav class="my-2 my-md-9 mr-md-3">
            <a class="p-2 text-dark" style="font-weight: 600; margin-left: 12px; text-decoration: none; font-size: 15px; margin-left: 10px; position: relative;" href=""><strong>Cadastrar: </strong></a>
            <a class="p-2 text-dark" style="font-weight: 600; margin-left: 12px; text-decoration: none; font-size: 15px; margin-left: 10px; position: relative;" href="./aluno.html">Alunos</a>
            <a class="p-2 text-dark" style="font-weight: 600; margin-left: 12px; text-decoration: none; font-size: 15px; margin-left: 10px; position: relative;" href="">|</a>
            <a class="p-2 text-dark" style="font-weight: 600; margin-left: 12px; text-decoration: none; font-size: 15px; margin-left: 10px; position: relative;" href="">Sala</a>
        </nav>
    </header>
    <div class="container-fluid align-items-center justify-content-center" style="width: 25%; margin-top: 300px; border-radius: 5px; background-color: white; box-shadow: 0 1px 4px rgba(146, 161, 176, 0.6); padding: 20px;">
        <form>
            <h2>Cadastrar Sala</h2>
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" aria-describedby="" id="name">
            </div>
            <div class="mb-3">
              <label for="capacidade" class="form-label">Capacidade</label>
              <input type="number" class="form-control" id="capacidade">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>

    </div>
</body>
</html>